@seraphin:registry=https://pkgs.dev.azure.com/pierrelasvigne/_packaging/Seraphin/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/pierrelasvigne/_packaging/Seraphin/npm/registry/:username={username}
//pkgs.dev.azure.com/pierrelasvigne/_packaging/Seraphin/npm/registry/:_password={AZURE_DEVOPS_TOKEN}
//pkgs.dev.azure.com/pierrelasvigne/_packaging/Seraphin/npm/registry/:email={email}
//pkgs.dev.azure.com/pierrelasvigne/_packaging/Seraphin/npm/:username={username}
//pkgs.dev.azure.com/pierrelasvigne/_packaging/Seraphin/npm/:_password={AZURE_DEVOPS_TOKEN}
//pkgs.dev.azure.com/pierrelasvigne/_packaging/Seraphin/npm/:email={email}
; end auth token